.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 20px;
    margin-top: 50px;
}

@media screen and (max-width: 900px) {
    .product-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}