.product-single {
    min-height: 100vh;
    margin-top: 100px;
}

.product-content {
    display: flex;
    gap: 4rem;
}

.product-single-l {
    flex: 1;
}

.product-s-img {
    width: 100%;
    height: 450px;
    margin: 0 auto;
}

.product-s-img>img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.product-single-r {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rating, .brand {
    display: flex;
    align-items: center;
    color: #FF6433;
    gap: 5px;
}

.product-p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-off {
    padding: 0;
}

.qty {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.qty-change {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.qty-decrease, .qty-increase {
    border: none;
    background-color: #FF6433;
    color: white;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

.btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 3px;
}

.btn {
    padding: 8px;
    border: none;
    text-transform: capitalize;
    background-color: #FF6433;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: #FF6433;
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 700px) {
    .product-content {
        flex-direction: column;
        gap: 1rem;
    }
    .product-single-r {
        padding: 30px 0;
    }
    .qty-change {
        flex-direction: row;
    }
}